/* CALENDAR */
.Calendar {
  padding: 0px 20px;
  border-bottom: 1px solid #dcdcdc;
  height: 353px;
}

.calendar_header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}

.prev_month,
.next_month {
  cursor: pointer;
}

.weekdays {
  display: flex;
}

.weekdays div {
  flex: 1;
  text-align: center;
  padding: 10px;
  position: relative;
  top: 10px;
}

.days_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 50px;
}

.days_grid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25px;
}

.days_grid div span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}

.prev_date,
.next_date {
  color: #ccc;
}

.calendar_dot {
  font-size: 15px;
}

.calendar_dot_mark_done {
  color: silver;
}

.calendar_dot_mark_todo {
  color: pink;
}

.calendar_dot_hide {
  visibility: hidden;
}

.today {
  background-color: skyblue;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}
