/* MyButton */

.MyButton{
  /* position: absolute; */
  /* bottom: 0; */
  cursor:pointer;
  background-color: #FFD2D2;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  color: #333333;
  border: none;
  border-radius: 24px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top:10px;
  padding-bottom: 10px;
}