/* TODO */

.Todo {
  height: 369px;
  border-bottom: 1px solid #cacaca;
  padding-left: 40px;
  padding-right: 20px;
  max-height: 787px;
  /* overflow: hidden; */
}

.todo_head {
  display: flex;
}

.todo_head_title {
  padding-top: 19px;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 29px;
}

.todo_head_sub {
  font-size: 14px;
  position: relative;
  top: 4px;
  padding-top: 19px;
  padding-left: 20px;
  color: #666;
}

.todo_head_icon {
  position: relative;
  height: 17.2px;
  width: 20px;
  left: 150px;
  top: 15px;
  color: #666;
}

.todo_timeline {
  display: flex;
  height: 450px;
  /* border: 10px solid #333; */
  border-radius: 5px;
  position: relative;
}

.todo_timeline_line {
  position: relative;
  height: 450px;
  border-radius: 10px;
  border: 9px solid #333;
  margin-right: 19px;
  z-index: 1;
}

.todo_timeline_toggle {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.todo_timeline_toggle > div {
  width: 275px;
  box-shadow: rgba(100, 100, 11, 0.2) 0px 7px 29px 0px;
}

.todo_timeline_line_circle {
  z-index: 2;
  position: absolute;
  background-color: #fff;
  border: 2px solid #c8c8c8;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 50.5px;
  box-sizing: border-box;
}

.todo_timeline_line_circle_on {
  z-index: 2;
  position: absolute;
  background-color: #ffd8d8;
  border: 2px solid #fc7b69;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 215px;
  box-sizing: border-box;
}

.todo_timeline_line_circle_off {
  z-index: 2;
  position: absolute;
  background-color: #ddd;
  border: 2px solid #b0b0b0;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 381px;
  box-sizing: border-box;
}

.todo_timeline_card {
  border: 2px solid #fff;
  border-radius: 16px;
  box-shadow: 0 5px 5px -5px #333;
  width: 308px;
  margin-top: 21px;
  padding-left: 19px;
  height: 72px;
  z-index: 1;
  flex-direction: column;
}

.todo_timeline_card_on {
  border: 2px solid #ffd8d8;
  border-radius: 16px;
  box-shadow: 0 5px 5px -5px #333;
  width: 308px;
  margin-top: 21px;
  padding-left: 19px;
  height: 72px;
  z-index: 1;
  flex-direction: column;
  background-color: #ffd8d8;
}

.todo_timeline_card_off {
  border: 2px solid #ddd;
  background-color: #ddd;
  border-radius: 16px;
  box-shadow: 0 5px 5px -5px #333;
  width: 308px;
  margin-top: 21px;
  padding-left: 19px;
  height: 72px;
  z-index: 1;
  flex-direction: column;
}

.todo_timeline_card_head,
.todo_timeline_card_head_on,
.todo_timeline_card_head_off {
  display: flex;
  flex-direction: row;
}

.todo_timeline_card_title,
.todo_timeline_card_title_on,
.todo_timeline_card_title_off {
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
}

.todo_timeline_card_star {
  padding-left: 4px;
  padding-top: 11px;
  font-size: 14px;
  color: #a54343;
}

.todo_timeline_card_time {
  position: relative;
  left: 140px;
  margin-top: 8px;
  font-size: 10px;
  color: #808080;

  width: 53px;
  height: 20px;
  border-radius: 12px;
  text-align: center;
  line-height: 20px;
}

.todo_timeline_card_bottom,
.todo_timeline_card_bottom_on,
.todo_timeline_card_bottom_off {
  display: flex;
  flex-direction: row;
}

.todo_timeline_card_content,
.todo_timeline_card_content_on,
.todo_timeline_card_content_off {
  color: #808080;
  font-size: 12px;
  padding-top: 15px;
}

.todo_timeline_card_tag {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 37px;
  height: 18px;
  text-align: center;
  top: 11px;
  background-color: #d9d9d9;
  color: #808080;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  left: 107px;
}

.todo_timeline_card_tag_text,
.todo_timeline_card_tag_text_on,
.todo_timeline_card_tag_text_off {
  position: relative;
  left: 3px;
}

.todo_timeline_card_star_on {
  padding-left: 4px;
  padding-top: 11px;
  font-size: 14px;
  color: #fff;
}

.todo_timeline_card_time_on {
  position: relative;
  left: 140px;
  margin-top: 8px;
  font-size: 10px;
  color: #808080;

  width: 53px;
  height: 20px;
  border-radius: 12px;
  text-align: center;
  line-height: 20px;
}

.todo_timeline_card_tag_on {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 37px;
  height: 18px;
  text-align: center;
  top: 11px;
  background-color: #fc7b69;
  color: #fff;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  left: 107px;
}

.todo_timeline_card_star_off {
  padding-left: 4px;
  padding-top: 11px;
  font-size: 14px;
  color: #b0b0b0;
}

.todo_timeline_card_time_off {
  position: relative;
  left: 140px;
  margin-top: 8px;
  font-size: 10px;
  color: #808080;

  width: 53px;
  height: 20px;
  border-radius: 12px;
  text-align: center;
  line-height: 20px;
}

.todo_timeline_card_tag_off {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 37px;
  height: 18px;
  text-align: center;
  top: 11px;
  background-color: #d9d9d9;
  color: #808080;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  left: 107px;
}
