body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0px;
  font-family: "Inter", sans-serif;
}

.App {
  width: 393px;
  height: 852px;
  background-color: #fff;
}

.SearchPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.SearchPage .top_bar {
  display: flex;
  align-items: center;
  padding: 19px 24px 19px 24px;
}

.SearchPage .search_icon {
  padding-right: 16px;
  cursor: pointer;
}

.SearchPage .top_bar input {
  border: none;
  flex-grow: 1;
  font-size: 18px;
}

.SearchPage .body_content {
  display: flex;
  flex-direction: column;
  height: 722px;
}


.SearchPage .body_content > h6{ 
  font-size: 12px;
  font-weight: 400;
  margin: 16px 16px;
  color: #7d7d7d;
}

.SearchPage .body_content .recent_search {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding-left: 16px;
  margin-bottom: 16px;
}

.recent_search::-webkit-scrollbar {
  display: none;
}

.SearchPage .body_content .recent_search .recent_search_list{
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-right: 8px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.SearchPage .search_top .sort_control select{
  text-decoration : underline;
  border:none;
  font-size: 12px;
}

.SearchPage .body_content .search_data {
  display: flex;
  flex-direction: column;
}

.SearchPage .body_content .search_data .search_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2d2d2d;
  padding: 0 16px;
}

.SearchPage .body_content .search_data h6 {
  font-size: 12px;
  font-weight: 400;
  color:#2d2d2d;
  margin: 0;
}

.SearchPage .search_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 584px;
  overflow: auto;
}

.SearchPage .search_result_true{
  padding-top: 24px;
}

.SearchPage .search_result_false {
  justify-content: center;
}


.TodoCard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 16px;
  width: 308px;
  height: 72px;
  margin-bottom: 24px;
}

.TodoCard .todo-top {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.TodoCard .todo-top-left {
  display: flex;
  padding-left: 24px;
}

.TodoCard .todo-title {
  font-size: 14px;
}

.TodoCard .todo-rating {
  margin-left: 8px;
}

.TodoCard .todo-top-right {
  display: flex;
}


.TodoCard .todo-date {
  font-size: 10px;
  color: #808080;
  margin-right: 8px;
}


.TodoCard .todo-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}

.TodoCard .todo-content {
  font-size: 12px;
  width: 217px;
  margin-left: 24px;
  color: #808080;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.TodoCard .todo-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 37px;
  height: 18px;
  text-align: center;
  top: 11px;
  background-color: #d9d9d9;
  color: #808080;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  margin-right: 12px;
}

.TodoCard .todo-tag .todo-tag-text {
  margin-left: 4px;
}

.BottomBar {
  height: 68px;
  padding: 14px 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #CACACA;
}
