@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;600&family=Inter:wght@100..900&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
}

@media (min-width: 400px) {
  .App {
    width: 390px;
    height: 850px;
  }
}

@media (max-width: 400px) {
  .App {
    width: 90vw;
    height: auto;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 11, 0.2) 0px 7px 29px 0px;
}

/* MainPage */

.MainPage{
  font-family: "Inter", sans-serif;
  align-items: center;
  width: 100%;
  height: 100%;

}

.MainPage .mainpage_logo{
  margin-top: 80px;
  margin-left: 20px;
  margin-bottom: 0px;
  justify-content: flex-start;
}

.MainPage .mainpage_title{
  
}

.MainPage .mainpage_title h4{
  margin-left: 32px;
  margin-bottom: 0px;
  margin-top:24px;
  line-height: 40px;
  font-weight: 600;
  font-size: 30px;
}

.MainPage .mainpage_description p{
  margin-left: 32px;
  line-height: 40px;
  font-size: 18px;
  margin-top:16px;
  color: #666666;
  font-weight: 300;
}

.MainPage .mainpage_signin_button{
  /* display:flex; */
  position:relative;
  align-items: center;
  margin-left: 36px;
  margin-right: 36px;
  margin-top:348px;
  
}

/* MyButton */

.MyButton{
  position: absolute;
  bottom: 0;
  cursor:pointer;
  background-color: #FFD2D2;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  color: #333333;
  border: none;
  border-radius: 24px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top:10px;
  padding-bottom: 10px;
}

/* SignIn */
.SignIn .signin_logo{
  margin-top:80px;
  margin-left:20px;
  margin-bottom: 0px;
}

.SignIn .signin_title h4{
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin-left: 27px;
  margin-top: 8px;
}

.SignIn .signin_info{
  margin-top: 99px;
  margin-left:46px;
  margin-right:47px;
  margin-bottom: 0px;

}

.SignIn .signin_info .signin_input_password input{
  margin-bottom: 0px;
}


.SignIn .signup_container{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding-left: 32px;
  padding-right: 33px;
  padding-top:0px;
  padding-bottom: 0px;
  margin-left: 46px;
  margin-right: 47px;
  margin-top: 12px;
  margin-bottom: 0px;
  
}

.SignIn .signup_container .signup_text{
  font-size: 14px;
  line-height: 20px;
  color:#666666;
}

.SignIn .signup_container .signup_button{
  border:none;
  background-color: white;
  font-size: 14px;
  color: #666666;
  text-decoration: underline;
  cursor: pointer;
}

.SignIn .signin_button{
  position:relative;
  align-items: center;
  margin-top:183px;
  margin-left: 37px;
  margin-right: 36px;
}

/* MyInput */

.input_box_component input{
  font-size: 16px;
  background-color: #FFEEEE;
  padding-left: 24px;
  padding-right: 74px;
  padding-top:20px;
  padding-bottom: 20px;
  border:none;
  border-radius: 8px;
  margin-bottom: 40px;
}

.input_box_component p{
  font-size: 12px;
  font-weight: bold;
  color: #666666;
  line-height: 20px;
  margin-bottom: 8px;
}

.input_box_component input::placeholder{
  color: #888888;
  font-size: 16px;
  line-height: 20px;
}

/* SignUp */

.SignUp .signup_logo{
  margin-top:80px;
  margin-left:20px;
  margin-bottom: 0px;
}

.SignUp .signup_title h4{
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin-left: 27px;
  margin-top: 8px;
}

.SignUp .signup_info{
  margin-top: 59px;
  margin-left: 47px;
  margin-right: 46px;
  margin-bottom: 0px;
  
}

.SignUp .signup_button{
  position:relative;
  align-items: center;
  margin-top:77px;
  margin-left: 34px;
  margin-right: 26px;
}