h4 {
  margin: 5px;
}
.New {
  display: grid;
  justify-items: center;
  align-items: center;
}
section {
  padding: 10px;
  border: 1px solid #222222;
}

.Tag li {
  width: 100px;
  text-align: left;
}
